/* Estilos para la barra de navegación en la parte superior */
.top-menu {
    background-color: var(--color-primario);
    padding: 10px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease; /* Añadida transición para el cambio de color al hacer scroll */
  }
  
  .top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .top-menu li {
    display: inline;
    margin-right: 20px;
  }
  
  .top-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  
  /* Cambia el color del texto del menú al pasar el ratón */
  .top-menu a:hover {
    color: #ffcc00;
  }