/* Estilos para la barra de navegación en la parte superior */
bento-sidebar[open] {
    background-color: #002c59;
    color: #f5f5f5;
    width: 250px;
    padding-left: 10px;
  }
  
  bento-sidebar[open] ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  bento-sidebar[open] li {
    display: block;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  bento-sidebar[open] a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  #sidebar1 h2 {
    margin-top: 25px;
    margin-bottom: 40px;
    margin-right: 60px;
    font-size: 30px;
    font-weight: 900;
  }
  /* Cambia el color del texto del menú al pasar el ratón */
  bento-sidebar[open] a:hover {
    color: #ffcc00;
  }
  /*svg*/
  #open-sidebar {
    z-index: 1000;
    position: fixed;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }